<section id="header">
      <h1>Detail Shine</h1>
      <div class="header__1">
        <div>
          <input type="search" name="search" class="header__search" placeholder="Pesquise o produto desejado">
        </div>

        <div class="header_actions">
          <button routerLink="/dilutioncalculator" class="btn__calculator" (click)="irParaCalculadora()">Calculadora de Diluição x:y</button>
          <button routerLink="/custcalculator" class="btn__cust" (click)="calcularCusto()">Calculadora de Custo $</button>
        </div>
      </div>
</section>



