<section id="header">
      <h1>Detail Shine</h1>
      <div class="header__1">
        <div>
          <input type="search" name="search" class="header__search" placeholder="Pesquise o produto desejado">
        </div>
        <div>
          <button class="btn__calculator" (click)="irParaCalculadora()">
            Calculadora de Diluição x:y
          </button>
        </div>
        <div>
          <button class="btn__cust" (click)="calcularCusto()">
            Calculadora de Custo $
          </button>
        </div>
      </div>
</section>

<section id="body-container">
  <h1>Lista de produtos </h1>
  <ul class="body-list">
    <li>
      
    </li>

  </ul>
</section>
