@import '../abstract/variables';

@import '../abstract/mixins';

.products {
  background-color: #000000;
  @include respond-to(device);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;


        &__title{
          display: flex;
          justify-content: space-around;
          font-size: 40px;
          font-family: $ff-texts;

        }

        &__items {
          display: grid;
          text-align: center;
          align-items: self-end;
          grid-template-columns: repeat(3, 1fr);
          margin-right: 35px;
          gap: 60px;

        }


        &__item {
          display: flex;
          flex-direction: column;
          border-radius: 30px;
          justify-items: center;
          align-items: center;
          border: 5px solid rgb(255, 0, 0);
          background-color: white;
        }

        &__item-image {
          display: block;
          align-items: center;
          margin: 0 auto;
          margin-top: 5%;
          width: 50%;

        }

        &__item-header {
          display: flex;
          color: white;
          border-top-left-radius: 25px;
          border-top-right-radius: 25px;
          justify-content: center;
          font-family: $ff-texts;
          font-size: 30px;
          width: 100%;
          height: auto;
          background: #000000;
        }

        &__item-footer {
          display: block;
          margin-block-end: 1em;
          justify-content: center;
          font-family: $ff-texts;
          font-size: 20px;
          color: rgb(167, 163, 163);
        }
}
