<section id="products" >
  <h1 class="products__title">Lista de produtos</h1>

  <ul class="products__items">
    <li class="products__item" *ngFor="let produto of produtos">
      <header class="products__item-header">
          {{produto.name}}
      </header>
      
      <div class="products__item-content">
        <img class="products__item-image" [src]="produto.image" alt="">
      </div>
      <footer class="products__item-footer">
        {{produto.category}}
      </footer>
    </li>
  </ul>
</section>

